<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Spring Boot</title>
		<link rel="stylesheet" th:href="@{/bootstrap-4.6.0-dist/css/bootstrap.min.css}"/>
		<script th:src="@{/jquery/jquery-3.5.1.min.js}"></script>
		<script th:src="@{/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js}"></script>
	</head>
		
	<body>
		<div class="card m-2">
			<div class="card-header">
				WebClient Test
			</div>
			<div class="card-body">
				<div class="mt-2"><a href="test1" class="btn btn-info">test1</a></div>
				<div class="mt-2"><a href="test2" class="btn btn-info">test2</a></div>
			</div>
		</div>
	</body>
</html>